.calculator {
  width: 100%;

  background-color: $primary;
  border-radius: $radius-default;
  box-shadow: 4px 4px 12px $shadow;

  @include media-breakpoint-up($md) {
    max-width: 430px;
  }

  &__field {
    height: 332px;
  }
  
  &__input {
    width: 100%;
    padding: 78px $padding-default 36px 0;

    background-color: $secondary;
    border-radius: $radius-default;

    text-align: right;
    font-size: 80px;
    color: $text;

    @include media-breakpoint-up($md) {
      padding: 100px 22px 40px 0;
    }
  }

  &__buttons {
    display: grid;
    justify-items: center;
    padding: 55px $padding-default 34px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include media-breakpoint-up($md) {
      padding: 70px $padding-default 44px;
      gap: 20px;
    }
  }

  &__btn {
    @include circle(62px);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    background-color: $secondary;
    cursor: pointer;
    transition: box-shadow $duration-default ease;

    &:hover {
      box-shadow: inset 1px 1px 4px 0px #322f2f;
      // opacity: .85;
    }

    @include media-breakpoint-up($md) {
      @include circle(80px);

      font-size: 40px;
    }

    &--operation,
    &--clear {
      color: $button-color;
      background-color: $blue;
      border-radius: 24px;
      
      font-size: 30px;
      font-weight: 600;

      @include media-breakpoint-up($md) {
        border-radius: 30px;
      }
    }

    &--operation {
      background-color: $blue;
    }
  
    &--clear {
      background-color: $green;
    }
  }
  
}