@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Semibold.woff");
  font-weight: 600;
}