@mixin media-breakpoint-up($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin media-breakpoint-down($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}